/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color (Ethiopian Green) */
  --clr-primary-1: hsl(149, 70%, 14%);
  --clr-primary-2: hsl(149, 60%, 20%);
  --clr-primary-3: hsl(149, 55%, 26%);
  --clr-primary-4: hsl(149, 50%, 32%);

  /* primary/main color */
  --clr-primary-5: #358d5f;

  /* lighter shades of primary color */
  --clr-primary-6: hsl(149, 45%, 48%);
  --clr-primary-7: hsl(149, 55%, 60%);
  --clr-primary-8: rgb(150, 233, 190);
  --clr-primary-9: hsl(149, 80%, 88%);
  --clr-primary-10: hsl(149, 100%, 96%);

  /* darkest grey - used for headings */
  --clr-grey-1: #181f25;
  --clr-grey-2: hsl(210, 18%, 20%);
  --clr-grey-3: hsl(210, 16%, 28%);
  --clr-grey-4: hsl(210, 14%, 36%);

  /* grey used for paragraphs */
  --clr-grey-5: #677583;
  --clr-grey-6: hsl(210, 12%, 60%);

  /* lighter greys (borders, backgrounds, sections) */
  --clr-grey-7: hsl(210, 14%, 72%);
  --clr-grey-8: hsl(210, 18%, 82%);
  --clr-grey-9: hsl(210, 22%, 90%);
  --clr-grey-10: hsl(210, 30%, 96%);

  --clr-white: #fff;
  --ff-primary: 'Lato', sans-serif;
  /* --ff-secondary: 'Grand Hotel', cursive; */
  --transition: all 0.3s linear;
  --ltr-spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
=============== 
Global styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* img {
  width: 100%;
  display: block;
} */
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--ltr-spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
}

/* more global css */

.btn {
  padding: 0.375rem 0.75rem;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: var(--ltr-spacing);
  display: inline-block;
  /* font-weight: 700; */
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

.section {
  padding: 5rem 0;
}

section {
  /* for smooth scroll */
  scroll-margin-top: 4rem;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h2 {
  text-transform: uppercase;
}

.section-title span {
  color: var(--clr-primary-5);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/*
=============== 
Navbar
===============
*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  z-index: 2;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.nav-logo {
  display: block;
  width: 12rem;
}

.nav-toggle {
  display: block;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  background: transparent;
  border: transparent;
  transition: var(--transition);
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-icons {
  display: none;
}

.nav-link {
  display: block;
  padding: 1rem 3rem;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--clr-grey-1);
  letter-spacing: var(--ltr-spacing);
  transition: var(--transition);
}

.nav-link:hover {
  padding-left: 3.5rem;
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
}

/**** for hide the nav-links ****/

/* .nav-links {
  display: none;
  transition: var(--transition);
}

.show-nav-links {
  display: block;
} */

/* **** or use height at 280px ***** */

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-nav-links {
  height: 280px;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0.5rem 2rem;
  }
  .nav-toggle {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-header {
    padding: 0;
  }

  .nav-logo {
    width: 11rem;
  }

  .nav-links {
    height: auto;
    display: flex;
    gap: 0 1rem;
  }

  .nav-link {
    padding: 0;
  }

  .nav-link:hover {
    background: transparent;
    padding: 0;
    color: var(--clr-primary-5);
  }
}

@media screen and (min-width: 992px) {
  .nav-center {
    justify-content: space-between;
  }

  .nav-icons {
    display: flex;
    gap: 1rem;
  }

  .nav-icon {
    display: block;
    color: var(--clr-primary-5);
    font-size: 1.2rem;
    transition: var(--transition);
  }

  .nav-icon:hover {
    color: var(--clr-primary-8);
    transform: scale(1.225);
  }
}
/*
=============== 
Hero
===============
*/
.hero {
  min-height: 100vh;
  background: var(--clr-primary-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}

.hero h1 {
  text-transform: uppercase;
}

.hero p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-grey-9);
  letter-spacing: var(--ltr-spacing);
}

.hero-btn {
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background: var(--clr-white);
  color: var(--clr-primary-5);
}

.hero-btn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}

@media screen and (min-width: 768px) {
  .hero {
    background:
      linear-gradient(
        to right,
        rgba(150, 233, 190, 0.5),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4)
      ),
      url('./images/main-bg.jpg') center/cover no-repeat;
  }

  .hero-banner {
    padding: 0;
  }

  .hero-banner p {
    max-width: 40rem;
  }
}

/*
=============== 
About
===============
*/
/* section add to globals */
/* title add to globals */
/* section center add to globals */

.about-img,
.about-info {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .about-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-img,
  .about-info {
    flex: 0 0 calc(50% - 2rem);
    align-self: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1170px) {
  .about-img {
    position: relative;
  }
  .about-photo {
    position: relative;
  }

  .about-img::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--clr-primary-5);
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
    /* z-index: -1; */
    transition: var(--transition);
  }

  .about-img:hover::before {
    top: 0;
    left: 0;
  }
}

/*
=============== 
Services
===============
*/
.services {
  background: var(--clr-grey-10);
}

.service {
  text-align: center;
  margin-bottom: 3rem;
}

.service-icon {
  font-size: 2.75rem;
  background: var(--clr-primary-5);
  padding: 0.25rem;
  border-radius: var(--radius);
  color: var(--clr-white);
  transition: var(--transition);
  /* display: inline-block; */
}

.service:hover .service-icon {
  color: var(--clr-primary-1);
}

.service-info {
  margin-top: 1.25rem;
}

.service-info p {
  max-width: 20rem;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

@media screen and (min-width: 576px) {
  .services-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .service {
    flex: 0 0 calc(33.33% - 1rem);
  }
}

@media screen and (min-width: 1170px) {
  .service {
    display: flex;
  }

  .service-icon {
    align-self: flex-start;
  }

  .service-info {
    padding-left: 1rem;
    text-align: left;
    margin-top: 0;
  }
}

/*
=============== 
Featured Tours
===============
*/
.tour-card {
  background: var(--clr-grey-10);
  box-shadow: var(--light-shadow);
  margin-bottom: 2rem;
  transition: var(--transition);
}

.tour-card:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.025);
}

.tour-img-container {
  position: relative;
}

.tour-img {
  height: 17rem;
  object-fit: cover;
}

.tour-date {
  position: absolute;
  right: 0;
  bottom: -1.25rem;
  background: var(--clr-primary-8);
  color: var(--clr-grey-1);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
}

.tour-info {
  padding: 1.25rem;
}

.tour-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tour-title h4,
.tour-title p {
  margin-bottom: 0.75rem;
  line-height: 1.25;
}

.tour-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tour-footer span,
.tour-footer p {
  color: var(--clr-primary-5);
  text-transform: capitalize;
  margin-bottom: 0;
}

.tour-btn {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .featured-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tour-card {
    flex: 0 0 calc(50% - 2rem);
  }
}

@media screen and (min-width: 1170px) {
  .tour-card {
    flex: 0 0 calc(33.33% - 2rem);
  }
}
/*
=============== 
Contact
===============
*/

.contact {
  background: var(--clr-primary-5);
}

.contact-title h3 {
  color: var(--clr-white);
}

.contact-title p {
  color: var(--clr-grey-8);
}

.contact-form {
  display: flex;
  max-width: 28rem;
}

.form-control {
  flex: 1 1 auto;
  color: var(--clr-grey-5);
}

.form-control,
.submit-btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: var(--ltr-spacing);
  border: transparent;
  overflow: hidden;
}

.submit-btn {
  padding: 0.375rem 0.5rem;
  letter-spacing: 0.1rem;
}

.form-control::placeholder {
  color: inherit;
}

.submit-btn {
  font-family: var(--ff-primary);
  margin-left: 0.5rem;
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
  cursor: pointer;
  transition: var(--transition);
}

.submit-btn:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-5);
}

@media screen and (min-width: 992px) {
  .contact-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-form {
    align-self: flex-start;
    flex: 1 1 auto;
    padding-left: 1rem;
    max-width: 100%;
  }
}
/*
=============== 
Gallery
===============
*/

.gallery-img-container {
  position: relative;
  background: var(--clr-primary-5);
  /* for scale */
  overflow: hidden;
}

.gallery-img {
  height: 20rem;
  object-fit: cover;
  transition: var(--transition);
}

.gallery-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: var(--clr-white);
  opacity: 0;
  cursor: pointer;
  transition: var(--transition);
}

.gallery-img-container:hover .gallery-img {
  transform: scale(1.025);
  opacity: 0.5;
}

.gallery-img-container:hover .gallery-icon {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .gallery-center {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-img-container {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 992px) {
  .gallery-img-container {
    flex: 0 0 25%;
  }
}
/*
=============== 
Footer
===============
*/
.footer {
  background: var(--clr-grey-1);
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.footer-links,
.footer-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 1rem;
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.footer-link {
  color: var(--clr-white);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--ltr-spacing);
  transition: var(--transition);
}

.footer-link:hover {
  color: var(--clr-primary-5);
}

.footer-icon {
  color: var(--clr-primary-8);
  font-size: 2rem;
  transition: var(--transition);
}

.footer-icon:hover {
  color: var(--clr-primary-5);
}

.copyright {
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: var(--ltr-spacing);
}

.creator {
  color: var(--clr-white);
  letter-spacing: var(--ltr-spacing);
  text-transform: capitalize;
}

.creator span {
  color: var(--clr-primary-5);
  text-transform: uppercase;
}
